@CHARSET "UTF-8";
/* img{
margin:100px auto 0;
-moz-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}
 */
.video_table{
	width:100%;
	height:100%;
	padding-left:20px;
	table-layout:fixed
}

.video_title{
	width:230px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
}

h1{
	padding-left:20px;
}
/* dt{
	width:100px;
	word-break:break-all;
} */
/* #container_nopadd .p_video {
    margin-bottom: 10px;
}
.p_video {
    width: 124px;
}
.p_video {
    width: 110px;
    margin-bottom: 10px;
}
.p_video {
    line-height: 19px;
}
.p_video {
    margin: 0 auto;
} */